<%- model_class = Advice -%>
<div class="page-header">
  <h1>Adicionar tratativa</h1>
</div>

<dl class="dl-horizontal">
  <h3><dt><strong><%= model_class.human_attribute_name('resposta') %>:</strong></dt>
  <dd><%= @answer.description %></dd></h3>
</dl>
<hr />
<h4>selecione as tratativas desejadas</h4>