
<%= link_to 'Voltar', meetings_path, :class => 'btn btn-default' %>
<p>
	 <div background-image: background-size: cover; border: 2px solid darkgray; color: #000; text-shadow: 1px 1px 0 #fff;>
     <%= image_tag url_for(:controller => "documents", :action => "show", :id => @document.id) %>
     </div>



